HTML { width: 100vw; height: 110vh; }

* {
	padding: 0; border: 0; margin: 0;
	box-sizing: border-box;

	font-family: monospace;
}
:root { --front-folder: #E3C498; }

BODY {
	width: 100%; height: 100%;

	background: radial-gradient(at 85% 85%, #000040, black);
}

@media screen and (min-aspect-ratio: 1) {
	#full-folder { width: 100%; }
}

.front P { font-size: 1.2em; font-weight: bold; margin: 1em;}
A { color: #5439F0; text-decoration: none; background-clip: text; }

HEADER {
	position: sticky;
	width:    100%;

	background-color: #715131;
	color:            #F0EFF0;
	font-family:      monospace;
	height:           3.5em;
	padding:          0.3em;
	border-bottom:    2px solid #0000F0;
	padding:          0.2em;

	z-index: 99;
	background-image: linear-gradient(to right,
	                                  #0000A0,
	                                  #0000F4);
}
HEADER H1 { display: inline; font-family: sans; }
HEADER P  { display: inline; font-style: italic; }

MAIN {
	width:    100%;
	height:   100%;
	color:    #1a1110;
	position: relative;
}
MAIN H1 { color: #1a1110; font-size: 3em; border-bottom: 2px dashed black; }

#full-folder {
	position: relative;
	height:   max-content;

	width:        70rem;
	margin-left:  auto;
	margin-right: auto;
}

.front {
	max-width:  70rem;
	max-height: 27rem;
	padding:    1.5em;

	background-color: var(--front-folder);
	color:            #333333;

	border-left:   .25em solid white;
	border-right:  .25em solid white;
	border-bottom: .25em solid white;
	border-radius: 0 0 5px 0;

	box-shadow: 0 0 1em black;

	margin-left:  auto;
	margin-right: auto;

	position: relative;
	z-index:  3;

	transition: transform .3s;
}
.front::after {
	content: "";
	background-color: inherit;

	position: absolute;
	bottom:   -3.25em;
	left:     -0.25em;
	width:    30em;
	height:   3em;
	z-index:  8;

	border-radius: 0 0 3em 5px;
	border-bottom: inherit;
	border-left:   inherit;
	border-right:  inherit;
	box-shadow:    0 5px 0.5em #7E7773;
}
#full-folder.pulled-up .front {
	transform: translateY(-20em)
	           skewY(1deg);

	filter: brightness(0.9);
}
.button-container {
	width:           100%;
	height:          3em;
	display:         flex;
	align-items:     center;
	justify-content: flex-begin;
	gap:             2rem;
}

.button {
	display:          block;
	width:            35%;
	height:           100%;
	padding:          0.6em;
	color:            white;
	background-color: #717141;
	font-size:        1.2em;
	text-align:       center;
	font-weight:      bold;
	text-decoration:  none;
	border-radius:    0.5em;
	box-shadow:       0 5px 0.5em #5A5550;
	transition:       transform .1s linear, box-shadow .1s linear;
	cursor:           pointer;
}
.button:not(.pressed):hover { box-shadow: 0 5px 0.3em #5A5550; transform: scale(0.98) }
.button.pressed             { transform: scale(0.96); box-shadow: none; border: 2px solid #515121; }
.button.download {
	background-color: #3232F4;
}

#background-folder {
	width:  70em;
	height: 35em;
	transform: skewX(1deg);

	position: absolute;
	top:      -8em;
	left:     1em;

	border-radius:    0 0 6px 6px;
	background-color: #C2A377;
	z-index:          0;

	transition: transform .2s,
	            top       .2s;
}
#background-folder .content {
	width: 100%;

	position: absolute;
	bottom:   10%;
	padding:  2em;
	transform: scale(1.05);
}
#background-folder.revealed {
	transform: none;
	top:       0;
	background-color: var(--front-folder);
}

.prompt {
	width:    65em;
	height:   38em;
	padding:  23px;

	position: absolute;
	top:      0;
	left:     2em;

	background-color: white;
	color:            black;

	font-weight:      bold;
	box-shadow:       0 .1px 9em #9F9994 inset;
	border-radius:    .4em;

	transition:       top       .7s ease-out,
	                  transform .7s ease-out;
}
.prompt.extended { top: 120%; }

#full-folder.pulled-up .prompt {
	top: -100%;
}

.prompt.centered {
	z-index:   19;
	top:       40%;

	transform: scale(1.2);
}
label { color: #1a1110; }

INPUT {
	display:       block;
	height:        2.5em;
	width:         22em;
	border:        1px solid #1a1110;
	border-radius: .3em;
}
.http {
	position: relative;
}
.http INPUT {
	padding-left: 4.5em;
}
.prompt.centered .http SPAN {
	display:  block;
	position: absolute;
	bottom:   30%;
	left:     .3em;
	z-index:  99;
}

BODY.blurred * :not(.prompt, .prompt *, #full-folder) {
	filter: blur(1.5px)
	        brightness(0.72)
	        saturate(0.7);
}
BODY * { transition: filter 1s; }

.prompt input[type="file"] {
	display: none;
}
.label-button {
	height:    16em;
	max-width: 30em;
	display:         flex;
	align-items:     center;
	justify-content: space-around;
	cursor:          pointer;

	border-radius:   .3em;
	border:          2px dotted black;

	position: relative;
	flex: 1;
}

.prompt H1 { font-size: 1.3em; border-bottom: 1px solid black; margin-bottom: 0.8em; }

.text-input-container {
	display:         flex;
	flex-wrap:       wrap;
	justify-content: center;
	gap:             1em;
}

.input-left {
	display: flex;
	flex-direction: column;
	gap: .5em;
	max-width: min-content;
}

.input-flex {
	display:         flex;
	gap:             1em;
	justify-content: center;
	align-items:     center;
	flex-direction:  column;
	
	flex-wrap:      wrap;
}

.file-icon {
	display:         flex;
	align-items:     center;
	justify-content: center;

	color:            white;
	background-color: #A1AAA0;
	padding:          0.5em;
	text-align: center;

	position: absolute;
	top:      0.2em;
	left:     0.2em;
	height:   13em;
	width:    9em;
	
	border: 1px solid green;

	transition: box-shadow .15s,
	            border     .15s;
}

.file-icon:hover {
	border-color: red;

	box-shadow: 0 0 2em red inset;
}
.file-icon:hover::before {
	content:   "x";
	font-size: 3rem;

	position: absolute;
	bottom:   auto;
	left:     auto;
}

.download-icon {
	position: absolute;
	width:  12rem;
	height: 18rem;
	background-color: #EAEEE0;
	left: 50%;
	border: .3em solid white;
	text-align: center;
	font-size: 2rem;
	
	animation-name:      slidein;
	animation-duration:  1.5s;
	animation-fill-mode: forwards;
}
@keyframes slidein {
	from {
		top: -50%;
		transform: none;
	}
	to {
		top: 50%;
		transform: rotate(10deg);
	}
}

FORM {
	display:         flex;
	justify-content: center;

	gap: 2rem;
}

.submit-button.err {
	width: 100%;
	background-color: #A00;
	
}
.submit-button.clicked {
	border:  2px solid #00A;
	opacity: 0.8;
}
.submit-button {
	border-radius: 1rem;
	width:         23rem;
	height:        7rem;

	font-weight:       bold;
	font-size:         1.4rem;
	color:             #EEF;
	background-color:  #88F;
	border: 2px dashed #00A;

	transition: background .5s,
	            transform  .3s,
	            color      .3s;
}
.submit-button:hover:not(.err) {
	background-color:  #99F;
	color:             white;
	transform:         scale(1.02)
}
.submit-button:active { color: white; }

FOOTER {
	background-color: #1A1110;
	width:            8rem;
	color:            white;
}
