/* Static elements - present in the HTML. */

HTML { width: 100vw; height: 110vh; }

* {
	padding: 0; border: 0; margin: 0;
	box-sizing:  border-box;
	font-family: monospace;
}
:root {
	/*--front-folder: #E3C498;*/
	--front-folder: #F1CA93;
	--dark-folder:  #C3A478;
	--hopr-blue:    #3232F4;
	--darker-blue:  #0000A4;
	--hopr-yellow:  #5252F4;
	--light-gray:   #AAA1A1;

	--gradient:
	linear-gradient(
		to bottom right,
	        #6565FF,
		var(--darker-blue));
}

.errbar {
	font-family: sans;
	font-size: 1.3rem;
	background: linear-gradient(to top, #A00 25%, 35%, rgba(0, 0, 0, 0) 100%);
	background-position: 0 5rem;

	color:            white;
	text-align:       center;
	position:         absolute;
	bottom:           0;
	left:             0;
	height:           5rem;
	width:            100%;
	display:          flex;
	justify-content:  center;
	align-items:      flex-end;
	background-repeat: no-repeat;

	transition: background-position .5s;
}

.errbar.active {
	background-position: 0;
	background-repeat: no-repeat;
}

BODY {
	width: 100%; height: 100%;
	background: radial-gradient(at 85% 85%, #000040, black);
	overflow-x: hidden;
}

A {
	color:            var(--hopr-blue);
	text-decoration:  none;
	background-clip:  text;
}

HEADER {
	display:           flex;
	justify-content:   space-between;
	align-items:       center;
	position:          relative;
	width:             100%;
	color:             #F0EFF0;
	height:            3.8em;
	border-bottom:     2px solid #0000F0;
	z-index:           99;
	background-image:  linear-gradient(to right,
	                                   #0000A0,
	                                   #0000F4);
}
HEADER H1 { display: inline;  margin: 0.3rem;}
HEADER * { font-family: sans; }
HEADER BUTTON::after {
	content: "";
}
DIV.settings.hidden {
	top: -100%;
}

BUTTON.settings {
	width:  14rem;
	height: 70%;
	background-color: var(--darker-blue);
	border-radius: .4rem;

	font-size: 1.5rem;
	color: #f8f8ff;
	/*background: none;*/
}
DIV.settings {
	display:          flex;
	justify-content:  space-around;
	align-items:      center;
	flex-direction:   column;
	position:         absolute;
	right:            2rem;
	height:           23rem;
	z-index:          9;
	border-radius:    .5rem;
	background-color: var(--hopr-blue);

	padding: 1.8rem;
	/*border: 2px solid #f8f8ff;*/

	background-image:  linear-gradient(to right,
	                                   #0000A0,
	                                   #0000F4);
	top: 5%;
	transition: top 1s;
}
DIV.settings * {
	width: 100%;
}

MAIN {
	display:          flex;
	justify-content:  center;
	width:            100%;
	height:           100%;
	color:            #1A1110; /* ? */
}
MAIN H1 {
	color:          #1a1110;
	font-size:      3em;
	border-bottom:  4px dashed var(--dark-folder);
	margin-bottom: 1.5rem;
}

#full-folder {
	position:      relative;
	height:        min-content;
	/*width:         70rem;*/
	max-width:     70rem;
	min-width:     40rem;
}

.front {
	position:          sticky;
	max-width:         70rem;
	max-height:        27rem;
	min-height:        24rem;
	padding:           1.5em;
	background-color:  var(--front-folder);
	color:             #333333;
	border:            .25em solid #f8f8ff;
	border-radius:     0 0 5px 0;
	border-top:        none;
	box-shadow:        0 0 1em black;
	z-index:           3;
	transition:        transform .3s;
}
.front::after {
	content:           "";
	background-color:  inherit;
	position:          absolute;
	bottom:            -3.25em;
	left:              -0.25em;
	width:             30em;
	height:            3em;
	z-index:           8;
	border-radius:     0 0 3em 5px;
	border:            inherit;
	border-top:        none;
	/*box-shadow:        0 5px 0.5em #7E7773;*/
}
.front P {
	font-size:    1.35rem;
	font-weight:  bold;
	padding:       .5rem;
}
.button-container {
	width:            100%;
	height:           5rem;
	display:          flex;
	align-items:      flex-end;
	gap:              2rem;
}

.btn {
	display:           block;
	width:             35%;
	height:            3rem;
	padding:           0.6em;
	color:             #f8f8ff;
	background-color:  #81814E;
	font-size:         1.2em;
	text-align:        center;
	font-weight:       bold;
	text-decoration:   none;
	border-radius:     0.5em;
	box-shadow:        0 5px 0.5em #5A5550;
	transition:        transform .1s linear, box-shadow .1s linear;
	cursor:            pointer;
}
.btn:not(.pressed):hover {
	box-shadow:  0 5px 0.3em #5A5550;
	transform:   scale(0.98);
}
.btn.pressed {
	transform:   scale(0.96);
	box-shadow:  none;
	border:      2px solid #515121;
}
.btn.download {
	background-color: #3232F4;
}

#bg-folder {
	width:             101%;
	height:            35em;
	transform:         skewX(1deg);
	position:          absolute;
	top:               -8em;
	left:              1em;
	border-radius:     0 0 6px 6px;
	background-color:  #C2A377;
	z-index:           0;
	transition:        transform .3s,
	                   top       .3s,
	                   border    .3s;
}
#bg-folder .content {
	width:             100%;
	position:          absolute;
	bottom:            0;
	padding:           2em;
	transform:         scale(1.05);
}
#bg-folder .content .right {
	width:       50%;
	border:      3px dashed #f8f8ff;
	border-top:  none;
}

#full-folder.open .front {
	transform:   translateY(-20em)
	             skewY(1deg);
	filter:      brightness(0.8);
}
#full-folder.open #bg-folder {
	transform:   none;
	top:         0;
	background:  linear-gradient(to top, var(--front-folder), 85%,  #C3A478);
}
#full-folder.open .prompt {
	top: -113%;
}

.prompt {
	width:             95%;
	max-height:        38em;
	min-height:        40em;
	padding:           23px;
	position:          absolute;
	top:               -30%;
	left:              2em;
	background-color:  #f8f8ff;
	color:             black;
	font-weight:       bold;
	box-shadow:        0 .1px 9em #9F9994 inset;
	border-radius:     .4em;
	transition:        top       .7s ease-out,
	                   transform .7s ease-out;
}
.prompt .input-left {
	width: 100%;
}
.prompt.extended { top: 120%; }
.prompt.centered {
	z-index:   19;
	top:       40%;
	transform: scale(1.2);
}

LABEL { color: #1D1A1A; width: 23rem; }
.form.get LABEL, .settings LABEL { color: #f8f8ff; font-weight: bold;}

INPUT {
	font-family:    initial;
	font-size:      1.4rem;
	display:        block;
	height:         3.5rem;
	width:          23rem;
	max-width:      100%;
	/*border:         1.5px solid var(--darker-blue);*/
	border:         1.5px solid #AAA1A1;
	border-radius:  .5rem;
	padding-left:   1rem;

	transition:     border 1s;
}
INPUT:focus {
	outline:  none;
	border:   1.5px solid var(--hopr-blue);
}
.submit-btn.login {
	height: 3.5rem;
}

BODY.blurred * :not(.prompt, .prompt *, #full-folder) {
	filter:    blur(1.5px)
	           brightness(0.6)
	           saturate(0.5);
}
BODY * { transition: filter 1s; }

.prompt INPUT[type="file"] { display: none; }
.label-button {
	width:            33em;
	display:          flex;
	flex-direction:   column;
	align-items:      center;
	justify-content:  center;
	cursor:           pointer;
	border-radius:    .3em;
	border:           2px dashed #AAAA77;
	position:         relative;
	color:            #6e6e6e;
}
.prompt H1 {
	font-size: 1.3em;
	border-bottom: 1px solid black;
}

.text-input-container {
	display:          flex;
	flex-wrap:        wrap;
	justify-content:  center;
	gap:              1em;
}

.input-left {
	display:         flex;
	flex-direction:  column;
	align-items:     center;
	gap:             .8rem;
}

.input-flex {
	display:          flex;
	justify-content:  space-between;
	align-items:      center;
	flex-direction:   column;
	flex-wrap:        wrap;
}
DIV.form {
	display:          flex;
	height:           21rem;
	justify-content:  center;
	gap:              2rem;
}
DIV.form.send {
	height: 26rem;
}
.input-left .login {
	gap:            .5rem;
	padding:        .8rem;
	background:     var(--gradient);
	border-radius:  .4rem;
}
.input-left .login LABEL {
	color: white;
}

DIV.form.get .input-left.full {
	padding:           .4rem;
	border-radius:     .5rem;
	background-image:  linear-gradient(to top ,
	                                   #FFFFFF00, 35%,
	                                   #7F6666);
	                                   /*#3636FF);*/
}

.submit-btn {
	border-radius:  1rem;
	width:          23rem;
	height:         7rem;
	font-weight:    bold;
	font-size:      1.4rem;
	color:          #EEF;
	background:     var(--gradient);
	/*border:         2px solid #f8f8ff;*/
	transition:     background .5s,
	                transform  .3s,
	                color      .3s;
}
.submit-btn:hover:not(.err) {
	transform:    scale(.99);
	filter:       brightness(1.05);
	font-weight:  bold;
	border:       1.5px solid #ADADBD;
}
.submit-btn:active { color: #f8f8ff; }

.submit-btn.err {
	width:       100%;
	background:  linear-gradient(to bottom right, #700, #A00);
	position:    relative;
}
.submit-btn.err::after {
	content:     "!";
	color:       #A00;
	font-size:   9rem;
	position:    absolute;
	right:       5%;
	top:         -2rem;
	transform:   rotate(8deg);
}
.submit-btn.clicked {
	border:   2px solid #00A;
	opacity:  0.8;
}

FOOTER {
	background-color: #1A1110;
	width:            8rem;
	color:            #f8f8ff;
}
